---
import type { Product } from '../../consts/types/products';

interface Props {
  products: Product[];
}

const { products } = Astro.props;
---

<section>
  <ul>
    <details>
      <p>asd</p>
      <p>asd</p>
      <p>asd</p>
      <p>asd</p>
    </details>
  </ul>
</section>
