<section class='flex items-center justify-evenly px-4 py-2 bg-gray-100'>
  <div class='flex flex-col gap-6'>
    <p class='text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-semibold leading-relaxed'>
      UNLEASH YOUR POTENTIAL.
    </p>
    <p
      class='text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-semibold leading-relaxed underline decoration-8 decoration-prim-lime'
    >
      GEAR UP, TRAIN HARD, PERFORM BETTER.
    </p>
    <button
      class='mt-4 py-3 sm:py-4 px-5 sm:px-8 w-fit sm:text-lg border-2 border-black tracking-[0.4em] font-bold transition ease-in hover:bg-prim-lime-darker hover:text-white duration-200'
      >SHOP NOW</button
    >
  </div>
  <div>
    <img draggable='false' src='/static/images/federer.png' alt='' class='hero-img scale-90 lg:scale-100' />
  </div>
</section>

<style>
  .hero-img {
    filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.1));
  }
</style>
